

# Core
scapy
watchdog
notify2

# Dashboard & API
fastapi
uvicorn
jinja2
starlette
slowapi

# Security & Auth
pyotp
python-jose
passlib
python-multipart

# Data & ML
pandas
numpy
scikit-learn
scipy

# HTTP & Utils
requests

# Untuk testing (opsional, jika ingin environment siap test)
pytest
unittest2
